<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Kısaltma Uygulaması</title>
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <h1>URL Kısaltma Uygulaması</h1>
    <form>
      <label for="url">Orijinal URL:</label>
      <input type="text" id="url" name="url" required />
      <button type="submit">Kısalt</button>
    </form>
    <div id="short-url"></div>
    <script src="app.js"></script>
  </body>
</html>
